// Config // (Rename this file to `config.h`)

// Debug
#define DEBUG false

// Report sensors (virtual wall, power status and battery temperature)
#define SENSORS false

// WiFi
#define WIFI_DEBUG false

#define USE_BSSID false

#if USE_BSSID
#define WIFI_BSSID "00:00:00:00:00:00"
#endif
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// Static routing
#define STATIC_IP false

#if STATIC_IP
#define LOCAL_IP 0, 0, 0, 0
#define GATEWAY 0, 0, 0, 0
#define SUBNET 0, 0, 0, 0
#define PRIMARYDNS 0, 0, 0, 0
#define SECONDARYDNS 0, 0, 0, 0
#endif

// OTA
#define OTA_PASSWORD ""
#define OTA_PORT 8266

// Clock
#define UTC_OFFSET 0 // In seconds
#define DST false // Daylight saving time

// MQTT
#define MQTT_SERVER ""
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASS ""
#define MQTT_CLIENT_NAME "roomba"

#define MQTT_STATUS_TOPIC "status"
#define MQTT_COMMANDS_TOPIC "commands"
#define MQTT_BATTERY_TOPIC "battery"

#if DEBUG
#define MQTT_BOOT_STATUS_TOPIC "boot-status"
#define MQTT_CHARGING_TOPIC "charging"
#define MQTT_RUNNING_INDICATOR_TOPIC "running-indicator"
#define MQTT_DAY_TOPIC "day"
#define MQTT_HOUR_TOPIC "hour"
#define MQTT_MINUTES_TOPIC "minutes"
#endif

#if SENSORS
#define MQTT_VIRTUAL_WALL_TOPIC "virtual-wall"
#define MQTT_BATTERY_TEMPERATURE_TOPIC "battery-temperature"
#define MQTT_BATTERY_VOLTAGE_TOPIC "battery-voltage"
#define MQTT_POWER_USAGE_TOPIC "power-usage"
#define MQTT_RIGHT_MOTOR_CURRENT_TOPIC "right-motor-current"
#define MQTT_LEFT_MOTOR_CURRENT_TOPIC "left-motor-current"
#define MQTT_MAIN_BRUSH_MOTOR_CURRENT_TOPIC "main-brush-motor-current"
#define MQTT_SIDE_BRUSH_MOTOR_CURRENT_TOPIC "side-brush-motor-current"
#define MQTT_CHARGING_SOURCES_AVAILABLE_TOPIC "charging-sources-available"
#define MQTT_ROOMBA_BUTTONS_TOPIC "buttons"
#endif

#if WIFI_DEBUG
#define MQTT_WIFI_SSID_TOPIC "wifi-ssid"
#define MQTT_WIFI_BSSID_TOPIC "wifi-bssid"
#define MQTT_WIFI_CHANNEL_TOPIC "wifi-channel"
#define MQTT_WIFI_RSSI_TOPIC "wifi-rssi"
#define MQTT_WIFI_IP_TOPIC "wifi-ip"
#endif
